  <div class="dialog">

    <div class="dialog-bar">
      <span>test</span>
      <div class="btn-close"><img src="../../assets/images/quit2.png"></div>
    </div>

    <div class="dialog-ctnt">
      <ul>
          <li>
            <div class="sys-msg">
              <div class="avatar"></div>
              <div class="text">xqq is a big sb.</div>
            </div>  
          </li>
          <li>
            <div class="usr-msg"><div class="text">Yes, I understand.</div></div>
          </li>
      </ul>
    </div>
    <ul class="dialog-btm">
        <li>
          <button class="btn">Yes, I understand.</button>
        </li>
        <li>
          <button class="btn">No, I don't understand.</button>
        </li>
      </ul>
  </div>
  

