<app-header></app-header>
<div class="onoffswitch-container clearfix">
    <div class="onoffswitch fr">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" [checked]="switchValue" (change)="switchChange()">
        <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
    </div>
</div>
<div class="scene-wrap">
    <canvas #canvas (mousedown)="onMouseDown($event)">
    </canvas>
</div>
<div *ngIf="!switchValue" class="marker-group">
    <div class="marker-container" id="marker1">
        <p>Operating Room</p>
        <a class="tooltip" [routerLink]="['/roomDetail']" [queryParams]="{id:1}">
            <figure>
                <img src="/assets/images/hospital/Operating-room.jpg">
                <figcaption>Operating Room</figcaption>
            </figure>
        </a>
    </div>
    <div class="marker-container" id="marker2">
        <p>Operating Room</p>
        <a class="tooltip" [routerLink]="['/roomDetail']" [queryParams]="{id:1}">
            <figure>
                <img src="/assets/images/hospital/Operating-room.jpg">
                <figcaption>Operating Room</figcaption>
            </figure>
        </a>
    </div>
    <div class="marker-container" id="marker3">
        <p>Operating Room</p>
        <a class="tooltip" [routerLink]="['/roomDetail']" [queryParams]="{id:1}">
            <figure>
                <img src="/assets/images/hospital/Operating-room.jpg">
                <figcaption>Operating Room</figcaption>
            </figure>
        </a>
    </div>
    <div class="marker-container" id="marker4">
        <p>Operating Room</p>
        <a class="tooltip" [routerLink]="['/roomDetail']" [queryParams]="{id:1}">
            <figure>
                <img src="/assets/images/hospital/Operating-room.jpg">
                <figcaption>Operating Room</figcaption>
            </figure>
        </a>
    </div>
    <div class="marker-container" id="marker5">
        <p>Operating Room</p>
        <a class="tooltip" [routerLink]="['/roomDetail']" [queryParams]="{id:1}">
            <figure>
                <img src="/assets/images/hospital/Operating-room.jpg">
                <figcaption>Operating Room</figcaption>
            </figure>
        </a>
    </div>
    <div class="marker-container" id="marker6">
        <p>Operating Room</p>
        <a class="tooltip" [routerLink]="['/roomDetail']" [queryParams]="{id:1}">
            <figure>
                <img src="/assets/images/hospital/Operating-room.jpg">
                <figcaption>Operating Room</figcaption>
            </figure>
        </a>
    </div>
    <div class="marker-container" id="marker7">
        <p>Operating Room</p>
        <a class="tooltip" [routerLink]="['/roomDetail']" [queryParams]="{id:1}">
            <figure>
                <img src="/assets/images/hospital/Operating-room.jpg">
                <figcaption>Operating Room</figcaption>
            </figure>
        </a>
    </div>
    <div class="marker-container" id="marker8">
        <p>Operating Room</p>
        <a class="tooltip" [routerLink]="['/roomDetail']" [queryParams]="{id:1}">
            <figure>
                <img src="/assets/images/hospital/Operating-room.jpg">
                <figcaption>Operating Room</figcaption>
            </figure>
        </a>
    </div>
    <div class="marker-container" id="marker9">
        <p>Operating Room</p>
        <a class="tooltip" [routerLink]="['/roomDetail']" [queryParams]="{id:1}">
            <figure>
                <img src="/assets/images/hospital/Operating-room.jpg">
                <figcaption>Operating Room</figcaption>
            </figure>
        </a>
    </div>
    <div class="marker-container" id="marker10">
        <p>Operating Room</p>
        <a class="tooltip" [routerLink]="['/roomDetail']" [queryParams]="{id:1}">
            <figure>
                <img src="/assets/images/hospital/Operating-room.jpg">
                <figcaption>Operating Room</figcaption>
            </figure>
        </a>
    </div>
    <div class="marker-container" id="marker11">
        <p>Operating Room</p>
        <a class="tooltip" [routerLink]="['/roomDetail']" [queryParams]="{id:1}">
            <figure>
                <img src="/assets/images/hospital/Operating-room.jpg">
                <figcaption>Operating Room</figcaption>
            </figure>
        </a>
    </div>
    <div class="marker-container" id="marker12">
        <p>Operating Room</p>
        <a class="tooltip" [routerLink]="['/roomDetail']" [queryParams]="{id:1}">
            <figure>
                <img src="/assets/images/hospital/Operating-room.jpg">
                <figcaption>Operating Room</figcaption>
            </figure>
        </a>
    </div>
    <div class="marker-container" id="marker13">
        <p>Operating Room</p>
        <a class="tooltip" [routerLink]="['/roomDetail']" [queryParams]="{id:1}">
            <figure>
                <img src="/assets/images/hospital/Operating-room.jpg">
                <figcaption>Operating Room</figcaption>
            </figure>
        </a>
    </div>
    <div class="marker-container" id="marker14">
        <p>Operating Room</p>
        <a class="tooltip" [routerLink]="['/roomDetail']" [queryParams]="{id:1}">
            <figure>
                <img src="/assets/images/hospital/Operating-room.jpg">
                <figcaption>Operating Room</figcaption>
            </figure>
        </a>
    </div>
</div>
<app-gallery></app-gallery>
