<section class="scene-gallery clearfix">
    <ul class="gallery-col fl">
        <li>
            <a class="gallery-item" [routerLink]="['/']">
                <figure class="figure-top">
                    <img src="/assets/images/hospital/hospital.jpg">
                    <figcaption>手术室</figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a class="gallery-item" [routerLink]="['/']">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/hospital.jpg">
                    <figcaption>手术室</figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a class="gallery-item" [routerLink]="['/']">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/hospital.jpg">
                    <figcaption>手术室</figcaption>
                </figure>
            </a>
        </li>
    </ul>
    <ul class="gallery-mid fl">
        <li class="gallery-front">
            <a class="gallery-item" [routerLink]="['/']">
                <figure>
                    <img src="/assets/images/hospital/hospital.jpg">
                    <figcaption>前台</figcaption>
                </figure>
            </a>
            <div>
                <h3>Visit the Family Pet Hospital</h3>
                <p>We are the best hospital in the country and we give the best love to pets.</p>
            </div>
        </li>
        <li class="fl">
            <a class="gallery-item" [routerLink]="['/']">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/hospital.jpg">
                    <figcaption>手术室</figcaption>
                </figure>
            </a>
        </li>
        <li class="fl even">
            <a class="gallery-item" [routerLink]="['/']">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/hospital.jpg">
                    <figcaption>手术室</figcaption>
                </figure>
            </a>
        </li>
        <li class="fl">
            <a class="gallery-item" [routerLink]="['/']">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/hospital.jpg">
                    <figcaption>手术室</figcaption>
                </figure>
            </a>
        </li>
        <li class="fl even">
            <a class="gallery-item" [routerLink]="['/']">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/hospital.jpg">
                    <figcaption>手术室</figcaption>
                </figure>
            </a>
        </li>
        <li class="fl">
            <a class="gallery-item" [routerLink]="['/']">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/hospital.jpg">
                    <figcaption>手术室</figcaption>
                </figure>
            </a>
        </li>
        <li class="fl even">
            <a class="gallery-item" [routerLink]="['/']">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/hospital.jpg">
                    <figcaption>手术室</figcaption>
                </figure>
            </a>
        </li>
    </ul>
    <ul class="gallery-col fr">
        <li>
            <a class="gallery-item" [routerLink]="['/']">
                <figure class="figure-top">
                    <img src="/assets/images/hospital/hospital.jpg">
                    <figcaption>手术室</figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a class="gallery-item" [routerLink]="['/']">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/hospital.jpg">
                    <figcaption>手术室</figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a class="gallery-item" [routerLink]="['/']">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/hospital.jpg">
                    <figcaption>手术室</figcaption>
                </figure>
            </a>
        </li>
    </ul>
    <br class="clearfix">
</section>
