<section class="scene-gallery clearfix">
    <ul class="gallery-col fl">
        <li>
            <a class="gallery-item" [routerLink]="['/roomDetail']" [queryParams]="{id:1}">
                <figure class="figure-top">
                    <img src="/assets/images/hospital/Consultation-room.jpg">
                    <figcaption>Consultation room</figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a class="gallery-item" [routerLink]="['/roomDetail']" [queryParams]="{id:2}">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/Department-of-ophtalmology.jpg">
                    <figcaption>Department of ophtalmology</figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a class="gallery-item" [routerLink]="['/roomDetail']" [queryParams]="{id:3}">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/Department-of-stomatology.jpg">
                    <figcaption>Department of stomatology</figcaption>
                </figure>
            </a>
        </li>
    </ul>
    <ul class="gallery-mid fl">
        <li class="gallery-front">
            <a class="gallery-item" [routerLink]="['/roomDetail']" [queryParams]="{id:4}">
                <figure>
                    <img src="/assets/images/hospital/ICU.jpg">
                    <figcaption>ICU</figcaption>
                </figure>
            </a>
            <div>
                <h3>Visit the Family Pet Hospital</h3>
                <p>We are the best hospital in the country and we give the best love to pets.</p>
            </div>
        </li>
        <li class="fl">
            <a class="gallery-item" [routerLink]="['/roomDetail']" [queryParams]="{id:5}">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/Immunology-laboratory.jpeg">
                    <figcaption>Immunology-laboratory</figcaption>
                </figure>
            </a>
        </li>
        <li class="fl even">
            <a class="gallery-item" [routerLink]="['/roomDetail']" [queryParams]="{id:6}">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/In-patient-department-for-cat.jpg">
                    <figcaption>In patient department for cat</figcaption>
                </figure>
            </a>
        </li>
        <li class="fl">
            <a class="gallery-item" [routerLink]="['/roomDetail']" [queryParams]="{id:7}">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/In-patient-department-for-Dog.jpg">
                    <figcaption>In patient department for dog</figcaption>
                </figure>
            </a>
        </li>
        <li class="fl even">
            <a class="gallery-item" [routerLink]="['/roomDetail']" [queryParams]="{id:8}">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/Injection-room.jpg">
                    <figcaption>Injection room</figcaption>
                </figure>
            </a>
        </li>
        <li class="fl">
            <a class="gallery-item" [routerLink]="['/roomDetail']" [queryParams]="{id:9}">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/Laboratory.jpg">
                    <figcaption>Laboratory</figcaption>
                </figure>
            </a>
        </li>
        <li class="fl even">
            <a class="gallery-item" [routerLink]="['/roomDetail']" [queryParams]="{id:10}">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/Operating-room.jpg">
                    <figcaption>Operating room</figcaption>
                </figure>
            </a>
        </li>
    </ul>
    <ul class="gallery-col fr">
        <li>
            <a class="gallery-item" [routerLink]="['/roomDetail']" [queryParams]="{id:11}">
                <figure class="figure-top">
                    <img src="/assets/images/hospital/Operation-preparation.jpg">
                    <figcaption>Operation preparation</figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a class="gallery-item" [routerLink]="['/roomDetail']" [queryParams]="{id:12}">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/Pathological-room.jpeg">
                    <figcaption>Pathological room</figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a class="gallery-item" [routerLink]="['/roomDetail']" [queryParams]="{id:13}">
                <figure class="figure-other">
                    <img src="/assets/images/hospital/Pharmacy-dispensary.jpeg">
                    <figcaption>Pharmacy dispensary</figcaption>
                </figure>
            </a>
        </li>
    </ul>
    <br class="clearfix">
</section>
