@import "_normalize";
@import "_theme";
@import "_variable";
@import "_vendor";

@font-face {
    font-family: 'Abril';
    src: url('./../fonts/AbrilFatface-Regular.otf');
};

@font-face {
    font-family: 'Alegre';
    src: url('./../fonts/Alegre-Sans.ttf');
};

@font-face {
  font-family: 'source-serif-pro';
  src: url('./../fonts/SourceSerifPro-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Slab-Regular';
    src: url('./../fonts/RobotoSlab-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Slab-Thin';
    src: url('./../fonts/RobotoSlab-Thin.ttf');
}

@font-face {
    font-family: 'Noto-Serif';
    src: url('./../fonts/NotoSerif-Regular.ttf');
}

.clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.fl {
    float: left;
}

.fr {
    float: right;
}
