<app-header></app-header>
<div class="onoffswitch-container clearfix">
    <div class="onoffswitch fr">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" [checked]="switchValue" (change)="switchChange()">
        <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
    </div>
</div>
<div class="scene-wrap">
    <canvas #canvas (mousedown)="onMouseDown($event)">
    </canvas>
    <div *ngIf="switchValue" class="room-list">
        <ul>
            <li (click)="showRoom($event)">
                <span>All Rooms</span>
            </li>
            <li *ngFor="let room of roomInfos" (click)="showRoom($event)">
                <span>{{room.name}}</span>
            </li>
        </ul>
    </div>
</div>
<div *ngIf="!switchValue" class="marker-group">
    <div class="marker-container" *ngFor="let room of roomInfos">
        <p>{{room.name}}</p>
        <a class="tooltip" [routerLink]="['/roomDetail', room.id]">
            <figure>
                <img src={{room.image}}>
                <figcaption>{{room.name}}</figcaption>
            </figure>
        </a>
    </div>
</div>
<app-gallery></app-gallery>
