.content{
    height: 100%;
    width: 100%;
    font-family: 'Roboto-Slab-Regular';

    .front{
        z-index: 10000;
    }

    .bg{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -100;
    
        img{
            width: 100%;
            height: 100%;
        }
    }
    
    .right{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height:100%;
        width: 50%;
        font-size: 16px;
        line-height: 1.5;
        z-index: 200000;
    }

    .department-info{
        position: fixed;
        top:100px;
        bottom: 100px;
        width: 50%;
    }

    .select-content{
        width: 100%;
        font-family: 'Roboto-Slab-Regular';
        height: 100%;
        background: #7d7b71;
        
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            padding-top: 30px;
            color: #fff;
            margin-bottom: 10px;
        }
        .select-bar {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            .select{
                padding: 30px;
                height: 400px;
                width: 270px;
                display: flex;
                flex-direction: column;
                background: #fff;
                // box-shadow: 0 0 15px rgba(0,0,0,.12);
                font-size: 20px;
                transition: all 0.1s;
                .title{
                    color: rgba(0,0,0,.65);
                    font-size: 30px;
                    margin-bottom: 20px;
                }
                .content{
                    color: #7F8487;
                }
                img{
                    width: 270px;
                    height: 500px;
                    overflow: hidden;
                }
                &:hover{
                    transform: scale(1.02);
                    box-shadow: 0 0 15px rgba(0,0,0,.64);
                }
            }
        }
    }
}

.hide{
    display: none;
}

.top-bar{
    position: fixed;
    top:0;
    background: #111;
    height: 100px;
    width: 100%;
    transition: height 1s ease-in;
    z-index: 10000;

}

.btm-bar{
    position: fixed;
    bottom:0;
    background: #111;
    height: 100px;
    width: 100%;
    transition: height 1s ease-in;
    z-index: 10000;

}

.blur{
    filter: blur(3px);
}


