.content{
    height: 100%;
    width: 100%;
    font-family: 'Roboto-Slab-Regular';
    
    .category {
        width: 20vw;
        height: 80vh;
        padding: 3vw;
        margin-top: 10vh;

        .div {
            p{
                margin:3vh;
            }
        }
    }

    .tip {
        position: fixed;
        top: 40px;
        left: 200px;

        p {
            color: #fca675;
            font-size: 1.5rem;
            font-weight: 800;
        }
    }

    .front{
        z-index: 10000;
    }

    .filter-container {
        position: absolute;
        left: calc((100% - 1280px) / 2);
        top: 186px;
        width: 1280px;
        height: 600px;
        z-index: 10;
        // background: #e1ebed;
        
        .filter {
            position: absolute;
            background: #9E9E9E;
            opacity: .7;
        }
        .isAvaliable {
            background: none;
            cursor: pointer;
        }
        .filter:nth-child(1) {
            width: 160px;
            height: 100px;
            left: 205px;
            top: 400px;
            //左下角ICU
        }
        .filter:nth-child(2) {
            width: 200px;
            height: 100px;
            left: 370px;
            top: 400px;
            //左下角第二个住院部
        }
        .filter:nth-child(3) {
            width: 75px;
            height: 235px;
            left: 205px;
            top: 120px;
            //最左边上半部分
        }
        .filter:nth-child(4) {
            width: 365px;
            height: 100px;
            left: 205px;
            top: 305px;
            //最左边的下半部分pathological room
        }
        .filter:nth-child(5) {
            width: 120px;
            height: 100px;
            left: 280px;
            top: 210px;
            //第一排正方形手术室
        }
        .filter:nth-child(6) {
            width: 125px;
            height: 100px;
            left: 280px;
            top: 115px;
            //第2排正方形Consultation Room
        }
        .filter:nth-child(7) {
            width: 170px;
            height: 200px;
            left: 400px;
            top: 115px;
            //第1排第三列手术准备室
        }
        .filter:nth-child(8) {
            width: 90px;
            height: 70px;
            left: 485px;
            top: 50px;
            //最上面小厕所injection room
        }
        .filter:nth-child(9) {
            width: 120px;
            height: 130px;
            left: 575px;
            top: 120px;
            //右半部分 第一排第一个　pharmacy dispensary
        }
        .filter:nth-child(10) {
            width: 80px;
            height: 70px;
            left: 700px;
            top: 180px;
            //右半部分 第一排第2个　treatment room
        }
        .filter:nth-child(11) {
            width: 120px;
            height: 130px;
            left: 780px;
            top: 120px;
            //右半部分 第一排第3个　immunexxx
        }

        .filter:nth-child(12) {
            width: 170px;
            height: 190px;
            left: 900px;
            top: 115px;
            //右半部分 最右　眼科诊室 ophtaxxx
        }

        .filter:nth-child(13) {
            width: 80px;
            height: 70px;
            left: 990px;
            top: 50px;
            //右半部分 右上 小厕所　挂号前台 registration office
        }

        .filter:nth-child(14) {
            width: 335px;
            height: 265px;
            left: 570px;
            top: 240px;
            //右半部分 右下 大房间　胃 stomxxx 左边正方形
        }

        .filter:nth-child(15) {
            width: 170px;
            height: 140px;
            left: 900px;
            top: 300px;
            //右半部分 右下 大房间　胃 stomxxx 右半部分
        }

        .filter:nth-child(16) {
            width: 80px;
            height: 75px;
            left: 700px;
            top: 120px;
            //右半部分 第一排第2个下 lab
        }
    }

    .bg{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -100;
        background: #e1ebed;

        img{
            position: absolute;
            left: calc((100% - 1280px) / 2);
            top: 186px;
            width: 1280px;
            height: 600px;
        }
    }

    .right{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height:100%;
        width: 50%;
        font-size: 16px;
        line-height: 1.5;
        z-index: 10000;
    }

    .department-info{
        position: absolute;
        top:0;
        bottom: 0;
        width: 50%;
        height: 60vh;
        z-index: 20000;
    }

    .select-content{
        width: 100%;
        font-family: 'Roboto-Slab-Regular';
        height: 100%;
        background: #7d7b71;

        span{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            padding-top: 50px;
            color: #fca675;
            margin-bottom: 50px;
            font-weight: 800;
        }
        .select-bar {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            .select{
                padding: 30px;
                height: 50vh;
                width: 20vw;
                display: flex;
                flex-direction: column;
                background: #fff;
                font-size: 20px;
                transition: all 0.1s;
                cursor: pointer;
                .title{
                    color: rgba(0,0,0,.65);
                    font-size: 30px;
                    margin-bottom: 20px;
                }
                .content{
                    color: #7F8487;
                }
                img{
                    width: 270px;
                    height: 500px;
                    overflow: hidden;
                }
                &:hover{
                    transform: scale(1.02);
                    box-shadow: 0 0 15px rgba(0,0,0,.64);
                }
            }
        }
    }
}

.hide{
    display: none;
}

.top-bar{
    position: fixed;
    top:0;
    background: #111;
    height: 100px;
    width: 100%;
    transition: height 1s ease-in;
    z-index: 10000;

}

.btm-bar{
    position: fixed;
    bottom:0;
    background: #111;
    height: 100px;
    width: 100%;
    transition: height 1s ease-in;
    z-index: 10000;

}

.back {
    position: fixed;
    top: 35px;
    left: 10px;
    z-index: 20001;
    padding: 5px;
    border-radius: 3px;
    height: 30px;
    cursor: pointer;
    animation: left 1s linear infinite;
    @keyframes left {
        0% {
            left: 5px;
        }
        25% {
            left: 6px;
        }
        50% {
            left: 7px;
        }
        75% {
            left: 8px;
        }
        100% {
            left: 5px;
        }
    }

    .back-arrow {
        display: flex;
        align-items: center;
        color: #a9ba95;

        span {
            font-size: 1.2rem;
            font-weight: 800;
            padding-left: 5px;
        }
    }
    img {
        width: 30px;
    }
}

.back-to-index {
    position: fixed;
    top: 35px;
    left: 10px;
    z-index: 20001;
    padding: 5px;
    border-radius: 3px;
    height: 30px;
    cursor: pointer;
    animation: left 1s linear infinite;
    @keyframes left {
        0% {
            left: 5px;
        }
        25% {
            left: 6px;
        }
        50% {
            left: 7px;
        }
        75% {
            left: 8px;
        }
        100% {
            left: 5px;
        }
    }

    .back-arrow {
        display: flex;
        align-items: center;
        color: #a9ba95;
        span {
            font-size: 1.2rem;
            font-weight: 800;
            padding-left: 5px;
        }
    }
    img {
        width: 30px;
    }
}
