<div class="main">
  <div *ngIf = "content.title != ''" class="content">
    <div *ngIf="content.pic.length"><app-big-pic></app-big-pic></div>
    <div class="info">
      <span class="title">{{content.title}}</span>
      <span>{{content.content}}</span>
    </div>

   
      <div class="media">
        <div class="pic">
          <img [src]="content.pic[0]">
        </div>
        <div class="cover" (click)="onShowPic()"><span>点击放大图片</span></div>
        <div class="video">
          <img [src]="content.pic[0]">
        </div>
        <div class="cover"><span>点击播放视频</span></div>
      </div>

  </div>
</div>