<div class="main">
    <div class="close" (click)="close()"><img src="../../assets/images/role/quit.png"></div>
    <div *ngIf="content.title != ''" class="content">
        <div *ngIf="content.pic.length">
            <app-big-pic></app-big-pic>
        </div>
        <div class="info">
            <span class="title">{{content.title}}</span>
            <span>{{content.content}}</span>
        </div>

        <div class="media">
            <div class="pic">
                <img [src]="content.pic[0]">
            </div>
            <div class="cover" (click)="onShowPic()">
                <span>点击放大图片</span>
            </div>
            <div class="video">
                <video #myvideo class="video" width="230" height="170" src="../../assets/videos/nullvideo.mp4" controls="controls"></video>
            </div>
        </div>
    </div>
</div>
