<div class="main">
  <div class="content">
    <app-big-pic [pictures]="pictures"></app-big-pic>
    <div class="info">
      <span class="title">title</span>
      <span>{{content}}
      </span>
    </div>
    <div class="media">
      <div class="pic">
        <img [src]="coverPic">
      </div>
      <div class="cover" (click)="onShowPic()">
        <span>点击放大图片</span>
      </div>
      <div class="vedio">
        <img [src]="coverPic">
      </div>
      <div class="cover">
        <span>点击播放视频</span>
      </div>
    </div>
  </div>
</div>