<div class="dialog" [class.hide] = "isClose">

  <div class="dialog-bar">
    <span>test</span>
    <div class="btn-close" (click) = "onClose()">
      <img src="../../../assets/images/role/quit2.png">
    </div>
    <div class="dialog-ctnt">
      <ul>
          <li>
            <div *ngFor="let message of messages">
                <div *ngIf="!message.isUser" class="sys-msg">
                    <div class="avatar"></div>
                    <div class="text">{{message.content}}</div>
                </div> 
                <div *ngIf="message.isUser" class="usr-msg">
                  <div class="text">{{message.content}}</div>
                </div>
            </div>
          </li>
      </ul>
    </div>
    <ul class="dialog-btm">
        <li>
          <button class="btn" (click)="addUserMessage(true)">Yes, I understand.</button>
        </li>
        <li>
          <button class="btn" (click)="addUserMessage(false)">No, I don't understand.</button>
        </li>
      </ul>
  </div>
  <ul class="dialog-btm">
    <li>
      <button class="btn" (click)="addUserMessage(true)">Yes, I understand.</button>
    </li>
    <li>
      <button class="btn" (click)="addUserMessage(false)">No, I don't understand.</button>
    </li>
  </ul>

</div>