<div class="header">
    <div class="img-container">
        <a href="/">
            <img class="logo" src="../../assets/images/index/logo.png" />
        </a>
    </div>
</div>

<div>
    <div class="left">
        <div class="avatar">
            <img src="../../assets/images/7.jpg" class="avatar_img" />
            <br>
            <button (click)="changeAvatar()" class="change_ava_btn">更改头像</button>
        </div>
        <div class="tabs">
            <div class="tab" [ngClass]="{'active':currentTab == 0}">
                <a href="javascript:;" (click)="switchTabs(0)">账号信息</a>
            </div>
            <div class="tab" [ngClass]="{'active':currentTab == 1}">
                <a href="javascript:;" (click)="switchTabs(1)">学习记录</a>
            </div>
            <div class="tab" [ngClass]="{'active':currentTab == 2}">
                <a href="javascript:;" (click)="switchTabs(2)">错题记录</a>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="tab0" *ngIf="currentTab==0">
            <form class="changeInfo" #changeInfoForm="ngForm" (ngSubmit)="doSubmit(changeInfoForm.value)">
                <label name="username" for="username" class="label">
                    用户名&nbsp;
                    <i class="fa fa-user"></i>
                </label>
                <span>{{formData.username}}</span>
                <br>
                <!-- <input type="text" class="input" name="username" required [(ngModel)]="formData.username" #userName="ngModel" minlength="4"
                    value="userinfo.username" />
                <span *ngIf="userName.errors && (userName.dirty || userName.touched)" class="error">
                    <span [hidden]="!userName.errors.required">
                        <i class="fa fa-info-circle large"></i>
                        &nbsp;用户名必须输入
                    </span>
                    <span [hidden]="!userName.errors.minlength">
                        <i class="fa fa-info-circle large"></i>
                        &nbsp;用户名至少4位
                    </span>
                </span> -->
                <br>
                <label for="password1" class="label">
                    密码&nbsp;
                    <i class="fa fa-key"></i>
                </label>
                <span *ngIf="!isChanging">xxxxxxxx</span>
                <input *ngIf="isChanging" type="password" class="input" id="password1" name="password1" [(ngModel)]="formData.password1" #password1="ngModel"
                    required minlength="8">
                <!-- <span *ngIf="isChanging">
                    <span *ngIf="password1.errors && (password1.dirty || password1.touched)" class="error">
                        <span [hidden]="!password1.errors.required">
                            <i class="fa fa-info-circle large"></i>
                            &nbsp;密码必须输入
                        </span>
                        <span [hidden]="!password1.errors.minlength">
                            <i class="fa fa-info-circle large"></i>
                            &nbsp;密码至少8位
                        </span>
                    </span>
                </span> -->
                <button *ngIf="!isChanging" class="changepw_btn" (click)="changePw()">修改</button>
                <button *ngIf="isChanging" class="changepw_btn" (click)="changePw()">取消</button>      
                <label *ngIf="isChanging" for="password2" class="label">
                    重复密码&nbsp;
                    <i class="fa fa-key"></i>
                </label>
                <input *ngIf="isChanging" type="password" id="password2" class="input" name="password2" [(ngModel)]="formData.password2" #password2="ngModel"
                    required>
                <!-- <span *ngIf="isChanging">
                    <span *ngIf="password1.value != password2.value && (password2.dirty || password2.touched)" class="error">
                        <span>
                            <i class="fa fa-info-circle large"></i>
                            &nbsp;两次输入不一致
                        </span>
                    </span>
                </span> -->
                <br><br>
                <label name="email" for="email" class="label">
                    邮箱&nbsp;
                    <i class="fa fa-envelope"></i>
                </label>
                <span>{{formData.email}}</span>
                <!-- <input type="email" class="input" name="email" [(ngModel)]="formData.email" #email="ngModel" pattern="[\w]+?@[\w]+?\.[a-z]+?"
                    required/>
                <span *ngIf="email.errors && (email.dirty || email.touched)" class="error">
                    <span [hidden]="!email.errors.required">
                        <i class="fa fa-info-circle large"></i>
                        &nbsp;邮箱必须输入</span>
                    <span [hidden]="!email.errors.pattern">
                        <i class="fa fa-info-circle large"></i>
                        &nbsp;邮箱格式不对</span>
                </span> -->
                <br><br>
                <label name="phone" for="phone" class="label">
                    手机号&nbsp;
                    <i class="fa fa-mobile-phone fa-large"></i>
                </label>
                <span>{{formData.phone}}</span>
                <!-- <input type="text" class="input" name="phone" [(ngModel)]="formData.phone" #phone="ngModel" pattern="^[0-9]*$" />
                <span *ngIf="phone.errors && (phone.dirty || phone.touched)" class="error">
                    <span [hidden]="!phone.errors.pattern">
                        <i class="fa fa-info-circle large"></i>
                        &nbsp;手机号格式不对
                    </span>
                </span> -->
                <br>
                <input type="submit" value="确认修改" class="submit" (click)="doSubmit(changeInfoForm.value)">
            </form>
        </div>
        <div class="tab1" *ngIf="currentTab==1">
            <p>学习记录</p>
            <p>学习记录</p>
            <p>学习记录</p>
            <p>学习记录</p>
            <p>学习记录</p>
            <p>学习记录</p>
            <p>学习记录</p>
            <p>学习记录</p>
            <p>学习记录</p>
        </div>
        <div class="tab2" *ngIf="currentTab==2">
            <p>错题记录</p>
        </div>
    </div>
</div>
<app-footer></app-footer>

<div class="mask" *ngIf="isUploadingImage" (click)="closeImage()">
</div>
<div class="image-upload-popup" *ngIf="isUploadingImage">
    <image-upload url="" (uploadFinished)="imageUploaded($event)" (removed)="imageRemoved($event)" [style]="customStyle" buttonCaption="Select image"
        (isPending)="disableSendButton($event)" dropBoxMessage="Drop your avatar here">
    </image-upload>
    <div class="confirm-div">
        <button class="confirm-button" (click)="confirmImage()">确定</button>
        <button class="confirm-button" (click)="closeImage()">取消</button>
    </div>
</div>