<div class="em_main">
    <div class="ec_sidel">
        <div class="golbal_side">
            <div class="Navigation">
                <span class="ep_sidel_span">
                    <li class="ec_title">距离考试结束还有：</li>
                    <span class="time_show">{{hour}}: {{minute}}: {{second}}</span>
                </span>
            </div>
        </div>
    </div>
    <form action="#" method="post" #examForm="ngForm" (ngSubmit)="doSubmit(examForm.value)">
        <div class="ec_sider" *ngFor="let parent of QuestionLists;let i = index;">
            <div class="ep_topic">
                <div class="ep_t_topic">
                    <div class="ep_tt_num">{{i+1}}</div>
                    <div class="ep_tt_topic pading">【单选】</div>
                    <div class="pading"><span>{{parent.text}}</span></div>
                </div>
                        <ul class="ep_t_ul">
                        <li>
                            <label>
                                <input class="ep_radio" name="{{parent.qid}}" type="radio" value="1">
                                <b>A.</b><p>{{parent.choice1}}</p>                                
                            </label>
                        </li>
                        <li>
                            <label>
                                <input class="ep_radio" name="{{parent.qid}}" type="radio" value="2">
                                <b>B.</b><p>{{parent.choice2}}</p>                                
                            </label>
                        </li>
                        <li>
                            <label>
                                <input class="ep_radio" name="{{parent.qid}}" type="radio" value="3">
                                <b>C.</b><p>{{parent.choice3}}</p>                                
                            </label>
                        </li>
                        <li>
                            <label>
                                <input class="ep_radio" name="{{parent.qid}}" type="radio" value="4">
                                <b>D.</b><p>{{parent.choice4}}</p>                                
                            </label>
                        </li>
                        </ul>
                    </div>
        </div>
        <div class="ec_sider">
            <button type="submit" tabindex="4" class="btn_submit">交 卷</button>
        </div>
    </form>
</div>
<div *ngIf="isFinished" class="ex_alert_background"></div>
<div *ngIf="isFinished" class="ex_alert_box">
    <p class="ex_alert_title">已完成考试！</p>
    <a href="/testResult/exam/{{id}}" class="show_result_button">查看结果</a>
</div>