<div id="login">
    <div class="wrapper">
        <div class="login">
            <form action="#" method="post" class="container offset1 loginform" #loginForm="ngForm" (ngSubmit)="doSubmit(loginForm.value)">
                <div id="owl-login">
                    <div class="hand"></div>
                    <div class="hand hand-r"></div>
                    <div class="arms">
                        <div class="arm"></div>
                        <div class="arm arm-r"></div>
                    </div>
                </div>
                <div class="pad">
                    <div class="control-group">
                        <div class="controls">
                        <label for="username" class="control-label fa fa-user"></label>
                            <input id="username" type="text" name="username" placeholder="用户名" tabindex="1" autofocus="autofocus" class="form-control input-medium" [(ngModel)]="formData.username" #username="ngModel" required>
                            <div *ngIf="username.errors && (username.dirty || username.touched)" class="error">
                                <span [hidden]="!username.errors.required">
                                    <i class="fa fa-info-circle large"></i>
                                    &nbsp;user name is required
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label for="password" class="control-label fa fa-asterisk"></label>
                            <input id="password" type="password" name="password" placeholder="password" tabindex="2" class="form-control input-medium" [(ngModel)]="formData.password" #password="ngModel" required>
                            <div *ngIf="password.errors && (password.dirty || password.touched)" class="error">
                                    <span [hidden]="!password.errors.required">
                                        <i class="fa fa-info-circle large"></i>
                                        &nbsp;password is required
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions"><a href="#" tabindex="5" class="btn pull-left btn-link text-muted">Forgot password?</a><a routerLink="/signup" tabindex="6" class="btn btn-link text-muted">Sign Up</a>
                    <button type="submit" tabindex="4" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer-wrapper">
    <app-footer></app-footer>
</div>