<app-header></app-header>
<div class="record-container clearfix">
    <div class="categories fl">
        <h2 class="title">病例目录</h2>
        <div *ngFor="let parent of diseaseList" class="parent">
            <span (click)="parent.isExpanded = !parent.isExpanded;">
                <img src="../../assets/images/medicalRecord/doctor.png" class="doctor" />&nbsp;{{parent.name}}
            </span>
            <div *ngIf="parent.isExpanded">
                <div *ngFor="let child of parent.children" class="child">
                    <span (click)="showDetail(parent, child)">
                        <img src="../../assets/images/medicalRecord/listen.png" class="listen" />&nbsp; {{child.name}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="recordContent fr">
        <div *ngIf="currentRecord.name === null" class="record-bg">
            <div class="tip">
                <h2>请在左侧目录中选择您想要学习的病例</h2>
            </div>
        </div>
        <div *ngIf="currentRecord.name !== null" class="content">
            <div class="diseaseTitle">
                <p class="bigger">
                    <span>名称:&nbsp;</span>{{currentRecord.name}}</p>
            </div>
            <div class="intro">
                <br>
                <p>
                    <span>介绍:&nbsp;</span>{{currentRecord.text}}
                </p>
                <br>
                <p class="process-title">鼠标滑动查看治疗过程</p>
                <div class="image-container">
                    <ul class="process-list">
                        <li *ngFor="let process of allProcess">
                            <div class="process-text">
                                <h3>Step{{process.id}}:</h3>
                                <p>{{process.text}}</p>
                            </div>
                            <div class="process-img">
                                    <img src={{process.image}}>
                            </div>
                        </li>
                    </ul>
                </div>
                <app-big-pic></app-big-pic>
            </div>
            <div class="imageandvideo">
                <div class="image-wrapper">
                    <img [src]="currentRecord.images[0]" class="image" (click)="onShowPic(currentRecord.images)">
                </div>
                <app-big-pic></app-big-pic>
                <video poster="/assets/images/7.jpg" class="video" width="400" height="250" [src]="currentRecord.video" controls="controls"></video>
            </div>
        </div>
    </div>
</div>
