.record-container {
    height: calc(100vh - 110px);
    .categories {
        width: 20%;
        height: 100%;
        overflow: auto;
        padding-top: 20px;
        padding-left: 50px;
        box-sizing: border-box;
        background-color: #706e65;
        color: white;
        .title {
            font-size: 120%;
        }
        .parent {
            width: 200px;
            margin-top: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            .doctor {
                width: 20px;
            }
            .child {
                margin-left: 10px;
                margin-top: 5px;

                .active {
                    color: #D7CCC8;
                }

                .listen {
                    width: 20px;
                }
            }
        }
    }
    .recordContent {
        width: 80%;
        height: 100%;
        background-color: #706e65;
        .record-bg {
            width: 100%;
            height: 100%;
            background: url('./../../assets/images/medicalRecord/nullrecord.jpeg') center no-repeat;
            background-size: cover;
            .tip {
                width: 450px;
                height: 100px;
                position: absolute;
                right: 0;
                top: 15%;
                border-radius: 10px 0 0 10px;
                color: wheat;
                background-color: rgba(98, 97, 89, 0.8);
                display: flex;
                /*Flex布局*/
                display: -webkit-flex;
                /* Safari */
                align-items: center;
                justify-content: center;
            }
        }
        .content {
            width: 100%;
            height: 100%;
            overflow: hidden;
            .diseaseTitle {
                span {
                    color: #F5F5F5;
                }
                text-align: center;
                width: 90%;
                font-size: 1.5rem;
                color: #D7CCC8;
                padding: 10px;
                padding-top: 0;
                margin: 10px;
                border-bottom: 1px solid #F5F5F5;
            }
            .intro {
                color: #D7CCC8;
                width: 45%;
                margin: 5px;
                padding-left: 10px;
                float: left;
                line-height: 30px;

                .image-container {
                    padding: 20px;

                    img {
                        height: 250px;
                        width: auto;
                        cursor: pointer;
                    }
                }

                .bigger {
                    font-size: 120%;
                }
                span {
                    color: #F5F5F5;
                }
            }
            .imageandvideo {
                width: 50%;
                float: right;
                .image-wrapper {
                    display: flex;
                    justify-content: center;
                    width: 400px;
                    .image {
                        width: auto;
                        height: 250px;
                        cursor: pointer;
                    }
                }
                
                .video {
                    margin-top: 10px;
                    object-fit: inherit;
                }
            }
        }
    }
}
