.categories {
    width: 20%;
    position: absolute;
    height: 100%;
    overflow: auto;
    padding-top: 20px;
    padding-left: 50px;
    box-sizing: border-box;
    background-color: #706e65;
    color: white;

    .title{
        font-size: 120%;
    }

    .parent{
        width: 200px;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;

        .child {
            margin-left: 10px;
            margin-top: 5px;
        }
    }
}

.recordContent {
    width: 80%;
    float: right;
    height: 100%;
    background-color: #706e65;

    .tip{
        width: 300px;
        height: 100px;
        position: absolute;
        right: 0;
        top: 40%;
        color: wheat;
        background-color: rgba(98,97,89,0.8);
        display:flex;/*Flex布局*/
        display: -webkit-flex; /* Safari */
        align-items:center;
        justify-content: center;
    }

    .null-record-image {
        width: 100%;
    }

    .content{
        margin: 20px;
        overflow: hidden;

        .diseaseTitle{
            span {
                color: #F5F5F5;
            }
            text-align: center;
            width: 90%;
            font-size: 150%;
            color: #D7CCC8;
            padding: 20px;
            padding-top: 0;
            margin: 20px;
            border-bottom: 1px solid #F5F5F5;
        }

        .intro{
            color: #D7CCC8;
            width: 45%;
            margin: 5px;
            padding-left: 10px;
            float: left;
            line-height: 30px;

            .bigger{
                font-size: 120%;
            }

            span {
                color:#F5F5F5;
            }
        }

        .imageandvideo {
            width: 50%;
            float: right;
            .image{
                width: auto;
                height: 250px;
                margin: 20px;
            }
            .video {
                margin: 20px;
                // width: 400px;
                // height: 250px;
            }
        }


    }
}


