<div class="mask" [class.hide] = "isHide" (click)="closePic()"></div>
<div class="pic-box" [class.hide] = "isHide" >
    <div class="pic">
        <div class="image"><img [src]="currentPic"></div>     
    </div>
    <div class="float-board">
        <div class="out" (click)="closePic()"><img src="../../assets/images/role/quit.png"></div>
        <div class="float-func">
            <div class="change">
                <div class="left" (click)="downPage()"><img src="../../assets/images/role/left.png"></div>
                <div class="right" (click)="upPage()"><img src="../../assets/images/role/right.png"></div>
            </div>
        </div>
    </div>
</div>
