.pic-box{
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 400px;
    z-index: 101;
    border-radius: 12px;

    .pic{
        height: 400px;
        width: 600px;
        position: fixed;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        .image{
            padding:10px;
            border-radius: 12px;
            border: 1px solid #eee;
            width: 550px;
            height: 400px;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                max-height: 400px;
                max-width: 500px;
                display: flex;
                justify-content: center;
            }
            
        }
    }
}


.float-board{
    position: absolute;
    transition: opacity 1s;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 10;
    opacity: 1;
    border-radius: 12px;
    transition-timing-function: ease-in;
}

.float-func{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.out{
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
       img{
        height: 20px;
        width: 20px;
    }
}

.change{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   width: 100%;
   .left{
        padding: 0 20px;
        cursor: pointer;
    }

    .right{
        padding: 0 20px;
        cursor: pointer;
    }

    img{
        height: 30px;
        width:30px;
    }
}

.hide {
    display: none;
}

.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    background: #9E9E9E;
}
