<div class="ec_sider">
    <div class="er_containerbox">     
        <div class="eo_subject eo_sj_next green">
            <div class="eo_title_b">
                <div class="eo_c_title">虚拟宠物医院在线考试</div>
                <a href="/practice" class="eo_back">
                    返回首页
                </a>
            </div>
            <div class="detials-title-cont">
              <h4 class="details-title">考试名称</h4>
            </div>
            <ul class="detail-lists-cont" *ngFor="let exam of examList; index as i;">
                <li class="detail-list js-detail-list">
                  <div class="detail-list-box" [class.bottom_list]="i===examList.length-1">
                      <div class="subject-title float-l">
                          <em class="subject-icons listen-list-icons"></em>
                          <p href="" class="js-subject-title" data-tipsclass="g-kmf-tips-title" data-msg="" data-class="">
                            {{exam.description}}
                          </p>
                          <a href="exam/{{exam.eid}}/{{exam.duration}}" [class.active]="exam.taken===false" class="redo-exam">
                            <b class="redo-msg">开始考试</b>
                          </a>
                          <a href="testResult/exam/{{exam.eid}}" [class.active]="exam.taken===true" class="redo-check">
                            <b class="redo-msg">查看结果</b>
                          </a>
                    </div>
                  </div>
                </li>
            </ul>
        </div>
    </div>
</div>
