<div class="header-wrapper">
  <div class="content-header">
    <app-header></app-header>
  </div>
</div>
<div class="content">
  <div class="image-wrapper">
    <img *ngIf="room" src={{room.image}} id="image" class="image" />
  </div>
  <div class="learn-more" (click)="learnMore()">
    <p class="word">LEARN MORE</p>
  </div>
  <div class="detail">
    <div class="title">{{room && room.name}}</div>
    <p class="charge">主要负责人：助理、执业兽医师</p>
    <p class="word-content">
      {{room && room.intro}}
    </p>
  </div>
</div>
<app-footer></app-footer>