.header-wrapper {
    width: 100%;

    .content-header {
        width: 100%;
        margin: 0 auto;
    }
}

.content {
    margin: -110px 0 0 0;
    width: 100%;
    text-align: center;

    .image-wrapper {
        position: relative;
        width: 100%;
        height: 100vh;

        .image {
            width: 100%;
            height: 100%;
        }

        .learn-more {
            position: absolute;
            bottom: 0;
            left: calc(150% - 100vw - 120px);
            text-align: center;
            background: #ff4e1c;
            color: white;
            width: 240px;
            padding: 10px;

            .word {
                font-family: 'Roboto-Slab-Regular';
            }

            .arrow-bottom {
                margin-top: 0;
                img {
                    width: 24px;
                    height: 24px;
                }
            }

            &:hover {
                animation: button-pop .5s ease infinite;
                @keyframes button-pop {
                    0% {
                        transform: scale3d(1, 1, 1);
                    }
                    50% {
                        transform: scale3d(1.05, 1.05, 1);
                    }
                    100% {
                        transform: scale3d(1, 1, 1);
                    }
                }
            }
        }
    }

    .detail {
        padding-top: 50px;
        width: 700px;
        margin: 0 auto;

        .title {
            font: 40px/45px "visitAB", Helvetica, Arial, sans-serif;
            color: #ff4e1c;
            text-align: center;
            margin-bottom: 40px;
        }

        ::-moz-selection{background: #ff4e1c;color: #ffffff;}
        ::selection{background: #ff4e1c;color: #ffffff;}

        .charge {
            font: 18px/26px "Roboto-Slab-Regular", Helvetica, Arial, sans-serif;
            color: #ff4e1c;
            text-align: center;
            margin-bottom: 30px;
        }
        .word-content {
            font: 14px/26px "Roboto-Slab-Regular", Helvetica, Arial, sans-serif;
            color: #4c4c4c;
            margin-bottom: 30px;

            .intro {
                p {

                }
            }

            .imageandvideo {

            }
        }
    }
}
