<div class="index-container">
    <header class="index-header">
        <div class="header-wrap">
            <div class="logo-container">
                <div class="logo-card">
                    <a [routerLink]="['/']">
                        <img src="/assets/images/index/logo.png">
                    </a>
                </div>
            </div>
            <div class="nav-container">
                <div class="nav-content">
                    <ul class="nav-list">
                        <li class="nav-item-wrap">
                            <div class="nav-item">
                                <a href="#feature1">3D Navigation</a>
                            </div>
                        </li>
                        <li class="nav-item-wrap">
                            <div class="nav-item">
                                <a href="#feature2">Role Study</a>
                            </div>
                        </li>
                        <li class="nav-item-wrap">
                            <div class="nav-item">
                                <a href="#feature3">Disease Study</a>
                            </div>
                        </li>
                        <li class="nav-item-wrap">
                            <div class="nav-item">
                                <a href="#feature4">Online Test</a>
                            </div>
                        </li>
                        <li class="nav-item-wrap">
                            <div class="nav-item">
                                <a href="#contactUs">Contact Us</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="login-container">
                    <div *ngIf="!status" class="index-btn">
                        <a [routerLink]="['/login']">LOGIN</a>
                    </div>
                    <div *ngIf="status" class="index-btn userinfo-btn">
                        <a [routerLink]="['/userinfo']">
                            <span><img src="/assets/images/index/avatar.png"></span>
                            <span>{{username}}</span>
                        </a>
                    </div>
                    <div *ngIf="status" class="logout-btn">
                        <img (click)="Logout()" src="/assets/images/index/logout.png">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="index-content">
        <div class="index-cover">
            <div class="welcome-container">
                <div class="welcome-title">
                    <h1>With Love for Animals</h1>
                </div>
                <div class="welcome-btn">
                    <a href="#introInfo">
                        Learn more about us
                    </a>
                </div>
            </div>
        </div>
        <div class="index-intro clearfix" id="introInfo">
            <div class="intro-container clearfix">
                <div class="intro-col">
                    <div class="intro-title">
                        <img src="/assets/images/index/intro1.png">
                    </div>
                    <div class="intro-content">
                        <p>Kickstart your pet's good health! PAW Plans provide your pet with a comprehensive level of preventive care to live a long and healthy life.</p>
                    </div>
                </div>
                <div class="intro-col">
                    <div class="intro-title">
                        <img src="/assets/images/index/intro2.png">
                    </div>
                    <div class="intro-content">
                        <p>Pet's dental health is an important part of their health. Dental disease can be easily prevented by visiting vets regularly for dental cleanings.</p>
                    </div>
                </div>
                <div class="intro-col">
                    <div class="intro-title">
                        <img src="/assets/images/index/intro3.png">
                    </div>
                    <div class="intro-content">
                        <p>Our Veterinarians are ready when your pet needs us and strive to provide personalized, compassionate care. You can trust us!</p>
                    </div>
                </div>
                <div class="intro-col">
                    <div class="intro-title">
                        <img src="/assets/images/index/intro4.png">
                    </div>
                    <div class="intro-content">
                        <p>We're here to make you and your pet's life easier. We have great offers and services designed just for you!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="index-feature" id="feature1">
            <div class="feature-container">
                <div class="side-img-container">
                    <div class="side-img"></div>
                </div>
                <div class="side-text-container">
                    <div class="side-text-wrap">
                        <div class="side-text-title">3D Navigation</div>
                        <div class="side-text-text">3D Navigation shows you the structure of pet hospital.</div>
                    </div>
                    <div class="side-button">
                        <a [routerLink]="['/navigation']">Go to start</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="index-feature" id="feature2">
            <div class="feature-container">
                <div class="side-text-container">
                    <div class="side-text-wrap">
                        <div class="side-text-title">Role Study</div>
                        <div class="side-text-text">Role Study shows you the reponsibilities of the vets.</div>
                    </div>
                    <div class="side-button">
                        <a [routerLink]="['/role']">Go to start</a>
                    </div>
                </div>
                <div class="side-img-container">
                    <div class="side-img"></div>
                </div>
            </div>
        </div>
        <div class="index-feature" id="feature3">
            <div class="feature-container">
                <div class="side-img-container">
                    <div class="side-img"></div>
                </div>
                <div class="side-text-container">
                    <div class="side-text-wrap">
                        <div class="side-text-title">Disease Study</div>
                        <div class="side-text-text">Disease Study shows you the diversity of diseases of the pets.</div>
                    </div>
                    <div class="side-button">
                        <a [routerLink]="['/disease']">Go to start</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="index-feature" id="feature4">
            <div class="feature-container">
                <div class="side-text-container">
                    <div class="side-text-wrap">
                        <div class="side-text-title">Online Test</div>
                        <div class="side-text-text">Online Test can test your knowledge of pet care.</div>
                    </div>
                    <div class="side-button">
                        <a [routerLink]="['/practice']">Go to start</a>
                    </div>
                </div>
                <div class="side-img-container">
                    <div class="side-img"></div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>
