<footer class="index-footer clearfix">
  <div class="footer-content clearfix">
      <div class="footer-left">
          <h4 class="p-name">
              <span>Virtual Pet Hospital</span>
          </h4>
          <p class="p-address p-icon">
              <span>3663 North Zhongshan Rd</span>
          </p>
          <p class="p-phone p-icon">
              <span>(021)8888-8888</span>
          </p>
          <p class="p-email p-icon">
              <span>1542752218@qq.com</span>
          </p>
          <p class="p-chat p-icon">
              <span>Live Chat</span>
          </p>
      </div>
      <div class="footer-right" id="contactUs">
          <div class="social-links">
              <a href="https://user.qzone.qq.com/437209901" target="_blank">
                  <img src="/assets/images/index/qq.png">
              </a>
              <a href="https://wx.qq.com/" target="_blank">
                  <img src="/assets/images/index/wechat.png">
              </a>
              <a href="https://www.facebook.com/profile.php?id=100016947257733" target="_blank">
                  <img src="/assets/images/index/facebook.png">
              </a>
              <a href="mailto:binicex@gmail.com">
                  <img src="/assets/images/index/google.png">
              </a>
          </div>
          <div class="work-hours">
              <p>
                  Work hours:<br>Mon - Fri 7:30 am - 5:30 pm<br>Sat 8:00 am - 12:30 pm<br>Closed Sunday
              </p>
          </div>
          <div class="copyright">
              <p>Copyright © 2018 Virtual Pet Hospital</p>
          </div>
      </div>
  </div>
</footer>