.left-container{
    width: 880px;
    float: left;
}
.right-container{
    width: 280px;
    float: right;
}
.practice-lists{
    width: 240px;
    height: 116px;
    box-sizing: border-box;
    padding: 12px 16px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    background: #fff;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    cursor: pointer;
    transition: .3s all;
}
.practice-title{
    float: left;
    clear: both;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8px;
}
.tab-cout{
    width: 100%;
    height: 20px;
    margin-bottom: 12px;
    overflow: hidden;
    transform: scale(.9);
    margin-left: -10px;
}
.type{
    height: 18px;
    line-height: 18px;
    border: 1px solid transparent;
    font-size: 10px;
    padding: 0 4px;
    border-radius: 2px;
    float: left;
    margin-right: 8px;
}
.easy{
    border-color: #FFD032;
    color: #FFD032;
}
.normal{
    border-color: #FF5809;
    color: #FF5809;
}
.hard{
    border-color: #FF0000;
    color: #FF0000;
}
a{
    color: #333;
    text-decoration: none;
    outline: 0;
}
a:hover {
     color: #4C91FF;
    text-decoration: none;
}
.plan-icon {
width: 32px;
height: 32px;
background-position: -72px -16px;
position: absolute;
top: 16px;
right: 16px;
}
.main .practice-icon {
display: inline-block;
background-repeat: no-repeat;
}
.score_show{
    overflow: hidden;
}
.score-num {
    font-size: 18px;
    color: #ADADAD;
    line-height: 24px;
    margin-right: 12px;
    float: left;
}
.list-active {
    color: #4C91FF;
    padding-bottom: 2px;
    border-bottom: 3px solid #4C91FF;
}
.tab-list {
    width: 816px;
    line-height: 28px;
    border-bottom: 1px solid #ededef;
    margin: 0 32px 20px;
}
.g-clearfix:after {
    content: "";
    height: 0;
    overflow: hidden;
    clear: both;
    display: block;
    visibility: hidden;
}
.tab-links{
    font-size: 16px;
    color: #666;
    float: left;
    margin-right: 32px;
    line-height: 32px;
    margin-bottom: -1px;
}
.filtrate-msg {
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    vertical-align: top;
}
.filtrate-btn {
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    vertical-align: top;
    max-width: 90%;
    margin-bottom: -8px;
}
.filtrate-links {
    display: inline-block;
    padding: 2px 8px;
    margin-right: 12px;
    margin-bottom: 8px;
    line-height: 24px;
}
.filtrate-links.active {
    background: #4C91FF;
    border-radius: 2px;
    color: #fff;
}
.all-see {
    min-height: 800px;
    background: #fff;
    padding: 24px 0 60px;
    position: relative;
    margin-bottom: 20px;}
.g-mod-shadow {
    box-shadow: 2px 2px 2px rgba(0,0,0,.05);
}
.filtrate-cont {
    margin: 0 32px 0px;
}
.filtrate-btn-cont {
    margin-bottom: 16px;
    width: 104%;
}
.list-cont {
    overflow: hidden;
    margin: 0px 32px;
}
.practice-list-cont {
    margin-bottom: 40px;
    overflow: hidden;
}
.list-title-cont {
    height: 32px;
    margin-bottom: 12px;
    overflow: hidden;
}
.list-title {
    float: left;
    font-size: 24px;
    color: rgb(0, 68, 141);
    line-height: 32px;
    font-weight: 700;
}
.practice-list {
    display: inline;
    // width: 104%;
    // margin-bottom: -20px;
    overflow: hidden;
}
.ec_sider {
    width: 802px;
    float: right;
}
.em_main {
    width: 980px;
    margin: 0 auto;
    margin-top: 15px;
    overflow: hidden;
}
.header-line {
    width: 100%;
    height: 110px;
    background-color: #7d7b71;
    margin-bottom: 30px;
}
.logo{
    width: 168px;
    height: 118px;
    float: left;
    margin-left: 25px;
    background-size: cover;
}
.growth-list-mod {
    background: #fff;
    padding: 18px 0 40px;
    position: relative;
    min-height: 400px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.title_show{
    margin-left: 100px;
    width: 368px;
    height: 118px;
}
.rank-list-mod {
    background: #fff;
    padding: 18px 0 40px;
    position: relative;
    min-height: 400px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 4%;
    border-top:1px solid #ADADAD;
    border-left:1px solid #ADADAD;
    border-bottom:1px solid #ADADAD;
    .rank-top-nav {
        border-bottom: 1px solid #EDEDEF;
        margin: 0 24px;
        height: 45px;
    }
}
.rank-top {
    width: 50%;
    color: #333;
    font-size: 18px;
    float: left;
    line-height: 43px;
    border-bottom: 2px solid #FFF;
    position: relative;
}
.clearfix:after, .g-clearfix:after, .ym-clearfix:after {
    content: "";
    height: 0;
    overflow: hidden;
    clear: both;
    display: block;
    visibility: hidden;
}
.rank-load-area {
    padding-top: 5px;
}
.top-three .top-three-inbox {
    height: 47px;
    margin: 0 24px;
    position: relative;
    padding: 8px 0;
    border-bottom: 1px dashed #E5E5E5;
    img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        float: left;
    }
}
.grade-tip {
    font-family: Arial;
    font-style: oblique;
    display: block;
    position: absolute;
    width: 28px;
    height: 12px;
    padding-right: 2px;
    line-height: 12px;
    background: #FFF;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    left: 7px;
    bottom: 7px;
    font-size: 10px;
    font-weight: 700;
}
.rank-load-area .top-three .grade-tip.top-one {
    background: #EF4C4A;
    color: #FFF;
}
.rank-load-area .top-three .grade-tip.top-two {
    background: #FF5809;
    color: #FFF;
}
.rank-load-area .top-three .grade-tip.top-three {
    background: rgb(240, 236, 7);
    color: #FFF;
}