<div class="registerContent">
    <img src="../../assets/images/login/veterinarian_dog.png" class="vet-dog">
    <form class="registerForm">
        <label name="username" id="username" class="label">用户名</label>
        <input type="text" class="input" required/>
        <br>
        <label name="password" id="password" class="label">密码</label>
        <input type="password" class="input" required/>
        <br>
        <label name="password2" id="password2" class="label">请重新输入密码</label>
        <input type="password" class="input" required/>
        <br>
        <label name="email" id="email" class="label">邮箱</label>
        <input type="email" class="input"/>
        <br>
        <label name="phone" id="phone" class="label">手机号</label>
        <input type="text" class="input"/>
        <br>
        <input type="submit" value="注册" class="submit">
      </form>
</div>
