<div class="registerHeader">
    <div class="left"></div>
    <h1>Sign up to learn more</h1>
    <div class="right"></div>
</div>

<div class="registerContent">
    <img src="../../assets/images/login/veterinarian_dog.png" class="vet-dog">
    <form class="registerForm" #registerForm="ngForm" (ngSubmit)="doSubmit(registerForm.value)">
        <label name="username" for="username" class="label">
            用户名&nbsp;<i class="fa fa-user"></i></label>
        <input type="text" class="input" name="username" required [(ngModel)]="formData.userName" #userName="ngModel" minlength="4"/>
        <div *ngIf="userName.errors && (userName.dirty || userName.touched)" class="error">
            <span [hidden]="!userName.errors.required">
                <i class="fa fa-info-circle large"></i>
                &nbsp;用户名必须输入
            </span>
            <span [hidden]="!userName.errors.minlength">
                <i class="fa fa-info-circle large"></i>
                &nbsp;用户名至少4位
            </span>
        </div>
        <br>
        <label for="password1" class="label">
            密码&nbsp;<i class="fa fa-key"></i></label>
        <input type="password" class="input"  id="password1" name="password1" [(ngModel)]="formData.password1" #password1="ngModel"  required minlength="8">
        <div *ngIf="password1.errors && (password1.dirty || password1.touched)" class="error">
            <span [hidden]="!password1.errors.required">
                <i class="fa fa-info-circle large"></i>
                &nbsp;密码必须输入
            </span>
            <span [hidden]="!password1.errors.minlength">
                <i class="fa fa-info-circle large"></i>
                &nbsp;密码至少8位
            </span>
        </div>
        <br>
        <label for="password2" class="label">
            重复密码&nbsp;<i class="fa fa-key"></i></label>
        <input type="password" id="password2" class="input" name="password2" [(ngModel)]="formData.password2" #password2="ngModel" required>
        <div *ngIf="password1.value != password2.value && (password2.dirty || password2.touched)" class="error">
            <span>
                <i class="fa fa-info-circle large"></i>
                &nbsp;两次输入不一致
            </span>
        </div>
        <br>
        <label name="email" for="email" class="label">
            邮箱&nbsp;<i class="fa fa-envelope"></i></label>
        <input type="email" class="input" name="email" [(ngModel)]="formData.email" #email="ngModel" pattern="[\w]+?@[\w]+?\.[a-z]+?" required/>
        <div *ngIf="email.errors && (email.dirty || email.touched)" class="error">
            <span [hidden]="!email.errors.required">
                <i class="fa fa-info-circle large"></i>
                &nbsp;邮箱必须输入</span>
            <span [hidden]="!email.errors.pattern">
                <i class="fa fa-info-circle large"></i>
                &nbsp;邮箱格式不对</span>
        </div>
        <br>
        <label name="phone" for="phone" class="label">
            手机号&nbsp;<i class="fa fa-mobile-phone fa-large"></i></label>
        <input type="text" class="input" name="phone" [(ngModel)]="formData.phone" #phone="ngModel" pattern="^[0-9]*$"/>
        <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="error">
                <span [hidden]="!phone.errors.pattern">
                    <i class="fa fa-info-circle large"></i>
                    &nbsp;手机号格式不对
                </span>
        </div>
        <br>
        <input type="submit" value="注册" class="submit" (click)="doSubmit(registerForm.value)">
      </form>
</div>
